@charset "UTF-8";
//////////////////////////////////////////////////////////////////////
// CSS information
// style info :  mixinや変数の定義
//////////////////////////////////////////////////////////////////////
@import "compass";
@import "../source/_animate";

//////////////////////////////////////////////////////////////////////

// 変数の定義

//////////////////////////////////////////////////////////////////////
// path
$p1:'../images/';
$pp:'../images/pc/';

// color
$def:#5e5e5e;
$c_base:#eeeeee;

$c_main:#0066b3;
$c_main_dk:#004d73;
$c_key1:#70acb4;
$c_key2:#e5575a;
$c_key3:#bdc359;
$c_key4:#2bab8e;
$colors_key:$c_key1,$c_key2,$c_key3,$c_key4;
$c_key5:#E3007F;
$c_key6:#E8B504;

$c_txt2:#878787;

$sd:#dbdbdb;
$sd2:#e5e5e5;

$gr1:#cccccc;
$gr2:#d4d4d4;
$gr3:#d6d6d6;
$gr4:#919191;
$gr5:#777;
$gr6:#717171;

$bl:#2c2c2c;

// page
$pages1:(top,news,service,company,contact,etc);

//////////////////////////////////////////////////////////////////////

// mixin

//////////////////////////////////////////////////////////////////////
@mixin ie78{
	.ie7_html &{
		@content;
	}
}
@mixin ff{
	.ff &{
		@content;
	}
}
@mixin ch{
	.chrome &{
		@content;
	}
}
@mixin sf{
	.safari &{
		@content;
	}
}
@mixin fz($size) {
	font-size: $size + px;
	font-size: ($size / 10) + rem;
}
@mixin ph($color,$size){
	&::-webkit-input-placeholder {
	    color: $color;
	    font-size: $size + px;
		font-size: ($size / 10) + rem;
	}
	&:-moz-placeholder {
	    color: $color;
	    font-size: $size + px;
		font-size: ($size / 10) + rem;
	}
}
@mixin break1{
	@media all and (min-width: 1635px) {
		@content;
	}
}
@mixin break2{
	@media all and (min-width: 1330px) and (max-width: 1634px) {
		@content;
	}
}
@mixin break3{
	@media all and (min-width: 1070px) and (max-width: 1329px) {
		@content;
	}
}
@mixin break4{
	@media all and (min-width: 810px) and (max-width: 1069px) {
		@content;
	}
}
@mixin break5{
	@media all and (max-width: 809px) {
		@content;
	}
}
@mixin break3_5{
	@media all and (max-width: 1374px) {
		@content;
	}
}
@mixin text-overflow($type){
	-o-text-overflow: $type;
	text-overflow: $type;
	white-space: nowrap;
}
@mixin icon($sprite,$left,$top,$width,$height){
	content: "";
	display: block;
	width: $width + px;
	height: $height + px;
	position: absolute;
	top: 50%;
	margin-top: -($height)/2 + px;
	background-position: ($left + px) ($top + px);
	@if $sprite == spr1{
		@extend %spr1;
	}
	@else if $sprite == spr2{
		@extend %spr2;
	}
	@else if $sprite == spr3{
		@extend %spr3;
	}
	@else if $sprite == sprc{
		@extend %spr_c;
	}
	@else if $sprite == sprr{
		@extend %spr_r;
	}
	@else if $sprite == sprl{
		@extend %spr_l;
	}
	@else if $sprite == sprs{
		@extend %spr_s;
	}
}
@mixin retina{
	@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
		@content;
	}
}
@mixin arrow($width,$color){
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: ($width + px) solid transparent;
	border-top: ($width + px) solid $color;
}

//////////////////////////////////////////////////////////////////////

// extend

//////////////////////////////////////////////////////////////////////
// general
@for $value from 1 through 3{
	%spr#{$value}{
		background-image: url(#{$pp}spr#{$value}.png);
		background-repeat: no-repeat;
	}
}
%spr_c{
	background-image: url(#{$pp}spr_contact.png);
	background-repeat: no-repeat;
}
%spr_r{
	background-image: url(#{$pp}spr_retina.png);
	background-repeat: no-repeat;
	@include background-size(8px 10px);
}
%spr_t{
	background-image: url(#{$pp}spr_txt.png);
	background-repeat: no-repeat;
}
%spr_l{
	background-image: url(#{$pp}spr_l.png);
	background-repeat: no-repeat;
}
%spr_s{
	background-image: url(#{$pp}spr_step.png);
	background-repeat: no-repeat;
}
%blow{
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	display: block;
}
%pie{
	@include ie78{
		behavior:url("../js/PIE.htc");		
	}
}
%clearfix{
	zoom: 1;
	&:before,&:after{
		content: "";
		display: block;
	}
	&:after {
		clear: both;
	}
}
%set{
	float: left;
	width: 100%;
}
%ib{
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}
%no_tap{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
%no_call{
	-webkit-touch-callout:none;
}
%tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
%tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}
%hover{
    @include opacity(1);
    @include transition(opacity 0.25s);
    &:hover{
    	@include opacity(0.7);
    }
}
%elps{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
%bb{
	@include box-sizing(border-box);
}
%font1{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
%font2{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
%font3{
	font-family: 'Open Sans', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

// original
.anm_fade{
	&#header{
		@include fadeInDown(0.8s, 0.3s, ease, both, hidden);
	}
	&#contents{
		@include fadeInLeft(0.8s, 0.3s, ease, both, hidden);
	}
	&#footer{
		@include fadeInUp(0.8s, 0.3s, ease, both, hidden);
	}
}