@charset "UTF-8";
/* ===================================================================
CSS information
 style info :  レイアウトに関わるスタイル
=================================================================== */
@import "compass";
@import "_base";

/* ===================================================================

@mixin,%class of This page

=================================================================== */
%inner{
	width: 1010px;
	margin: 0 auto;
	padding: 0 30px;
	@extend %clearfix;
}

/* ===================================================================

layout

=================================================================== */
/* ------ ::selection,a ------ */
::selection {
	background: $c_main;
	color: #fff;
}

a{
	color:$c_main;
	text-decoration:underline;
	-webkit-touch-callout:none;
	&.hover{
		text-decoration:none;
	}
}
a,input,select,label{
	-webkit-tap-highlight-color:rgba($c_main,0.7);
}

/* ------ body ------ */
body{
	color: $def;
	@extend %font1;
	background: $def;
}
#wrapper{
	overflow: hidden;
	background: #fff;
	.lower &{
		.pc &{
			min-width: 1070px;
		}
	}
	.sp &,.tablet &{
		position: relative;
	}
}

/*current*/
body{
	// $pages1(_baseに記述済み)
	@for $value from 1 through 5{
		&.page_#{nth($pages1,$value)}{
			.g_nav#{$value}{
				.bg_gnav{
					top: 0 !important;
				}
				.nav_name{
					color: #FFF;
					.i_ac{
						background-position: -70px 0px;
						background-color: #fff;
					}
				}
			}
		}
	}
}

/* ------ header ------ */
#header{
	width: 100%;
	background: #fff;
	position: relative;
	z-index: 5;
	.pc &{
		min-width: 1010px + 60;
	}
	.head_top{
		width: 100%;
		height: 90px;
		@extend %clearfix;
		.lower &{
			min-width: 1010px;
			margin: 0 auto; 
		}
	}
}
.site_name{
	float: left;
	width: 490px;
	height: 90px;
	padding: 25px 0 0 32px;
	@extend %bb;
	a{
		display: block;
		float: left;
		width: 100px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		@include fz(20);
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background: $c_main;
	}
	h1{
		float: left;
		padding: 18px 0 0 19px;
	}
}
.top_menu{
	float: right;
	height: 90px;
	margin-right: 30px;
	>ul{
		float: right;
		width: 230px;
		>li{
			float: left;
			width: 100px;
			height: 90px;
			padding: 30px 0;
			@extend %bb;
			margin-left: 15px;
		}
	}
}
.top_menu_a{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	background: #666;
	color: #FFF;
	@extend %bb;
}
.nav_name{
	height: 90px;
	overflow: hidden;
	display: block;
	background: transparent; 
	@extend %font3;
	@include fz(14);
	font-weight: 600; 
	color: #FFF;
	position: relative;
	z-index: 2;
	letter-spacing: 1px;
	@include transition(color 0.25s);
}
.g_nav{
	width: 100%;
	position: relative;
	@extend %clearfix;
	li{
		float: left;
		width: 33.3%;
		@include transition(width 0.35s);
		&.active,&:hover{
			a span{
				background: $c_main;
			}
		}
		a span{
			background: $c_key1; 
		}
		a{
			width: 100%;
			height: 45px;
			line-height: 45px;
			display: block;
			text-align: center;
			color: #FFF;
			@extend %font3;
			position: relative;
			@include fz(15);
			text-decoration: none;
			>span{
				display: block;
				height: 45px;
				width: 100%;
				position: absolute;
				top: 0;
				font-weight: 600;
				letter-spacing: 1px;
				&.cat_name{
					z-index: 2;
				}
				&.bg_nav{
					z-index: 1;
					span{
						display: block;
						width: 200px;
						height: 45px;
						padding: 0 10px; 
						position: absolute;
						top: 0;
						left: -10px;
					}
				}
			}
		}
	}
}

/* ------ footer ------ */
#footer{
	width: 100%;
	position: relative;
	.pc &{
		min-width: 1010px + 60;
	}
	.bread{
		border-top: 1px solid $gr1;
	}
}
.foot_bottom{
	width: 100%;
	height: 45px;
	@extend %bb;
	padding: 0 30px;
	background: $def;
	@extend %clearfix;
	small{
		display: block;
		float: right;
		padding-top: 16px;
		color: #FFF;
		@include fz(10);
		@extend %font3;
		letter-spacing: 1px;
	}
}
.foot_sns{
	width: 250px;
	float: left;
	padding: 13px 0 0; 
	li{
		float: left;
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
		&.fb_btn {
			width: 113px !important;
			height: 20px !important;
			iframe{
				width: 113px !important;
				height: 20px !important;
			}
		}
		&.tw_btn {
			width: 106px !important;
			height: 20px !important;
		}
	}
}
#btn_pt{
	@include icon(spr1,-250,0,77,77);
	top: -77px;
	right: 0;
	z-index: 10;
	margin: 0;
	span{
		@extend %blow;
		@include icon(spr1,0,0,10,8);
		top: 44px;
		right: 21px;
		margin: 0;
	}

}

/* ------ contents ------ */
#contents{
	width: 100%;
	margin: 0 auto;
	.page_top &{
		background: $c_base;
	}
}

.contents_header{
	width: 100%;
	height: 265px;
	position: relative;
	margin-bottom: 30px;
	.pc &{
		min-width: 1010px + 60;
	}
	>div{
		width: 100%;
		height: 220px;
		position: relative;
		z-index: 1;
		background-position: center top;
		background-repeat: no-repeat;
		@include background-size(cover);
		.page_news &{
			background-image: url(#{$pp}ttl_page_news.jpg); 
		}
		.page_service &{
			background-image: url(#{$pp}ttl_page_service.jpg); 
		}
		.page_contact &{
			background-image: url(#{$pp}ttl_page_contact.jpg); 
		}
		.page_company &{
			background-image: url(#{$pp}ttl_page_company.jpg); 
		}
		.page_etc &{
			background-image: url(#{$pp}ttl_page_etc.jpg); 
		}
	}
	.bread{
		position: relative;
		z-index: 1;
	}
	.ttl_page{
		padding: 80px 30px 0;
		.en,.jp{
			display: block;
			color: #FFF; 
		}
		.en{
			@extend %font3;
			@include fz(25);
			letter-spacing: 1px;
			margin-bottom: 18px;
			font-weight: bold;
		}
		.jp{
			@include fz(15);
			letter-spacing: 1px;
		}
	}
	.sh_ch{
		display: block;
		width: 100%;
		height: 100%;
		background: url(#{$pp}clr_sh.png);
		position: absolute;
		left: 0;
		bottom: -5px;
		z-index: 0;
	}
}
.contents_body{
	@extend %inner;
}

/* ------ main ------ */
#main{
	width: 750px;
	float: left;
	>article{
		width: 750px;
		background: #FFF;
	}
	.main_inner{
		padding: 0 30px 50px;
	}
}

/* ------ side ------ */
#side{
	float: right;
	width: 230px;
	.side_shadow{
		display: block;
		width: 100%;
		height: 100%;
		background: url(#{$pp}clr_sh.png);
		position: absolute;
		right: -5px;
		bottom: -5px;
		z-index: 0;
	}
}
.side_menu{
	li{
		width: 230px;
		height: 50px;
		margin-bottom: 2px;
		position: relative;
		&:last-child{
			margin-bottom: 0;
		}
	}
	a{
		display: block;
		width: 230px;
		height: 50px;
		padding: 0 10px 0 15px;
		line-height: 53px;
		background: #FFF; 
		color: $c_txt2;
		text-decoration: none;
		position: relative;
		z-index: 1;
		@extend %bb;
		@include transition(0.35s);
		overflow: hidden;
		&:hover{
			background: $sd;
			span{
				padding-left: 26px;
			}
		}
		>span{
			float: left;
			position: relative;
			padding-left: 16px;
			@include fz(15);
			@include transition(padding 0.35s);
			&:before{
				@include icon(spr1,-1,-100,6,10);
				margin-top: -7px;
				left: 0;
			}
			&.current{
				font-weight: bold;
			}
		}
	}
	b{
		float: right;
		@extend %ib;
		width: 40px;
		height: 30px;
		text-align: center;
		line-height: 32px;
		@include fz(15);
		font-weight: bold;
		letter-spacing: 1px;
		background: $c_base;
		margin-top: 10px;
	}
}
.b_list{
	li{
		width: 230px;
		margin-bottom: 20px;
		position: relative;
		&:hover{
			a{
				right: -5px;
				bottom: -5px; 
			}
			.side_shadow{
				opacity:0;
			}
		}
		a{
			display: block;
			width: 230px;
			position: relative;
			right: 0;
			bottom: 0;
			z-index: 1;
			@include transition(0.35s);
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.side_shadow{
		@include transition(0.5s);
	}
}