@charset "UTF-8";
/* ===================================================================
CSS information
 style info :  モジュールとなる要素のスタイル
=================================================================== */
@import "compass";
@import "_base";


/* ------ style ------ */
.shadow1{
	display: block;
	width: 100%;
	height: 100%;
	background: $sd2;
	position: absolute;
	right: -5px;
	bottom: -5px;
	z-index: 0;
	@include transition(0.5s);
}

/* ------ table ------ */
.tbl_form{
	display: block;
	width: 690px;
	>li{
		@extend %clearfix;
		>p{
			float: left;
			height: 91px - 30 - 16;
			vertical-align: middle;
			width: 230px - 40;
			padding: 30px 20px 16px;
			background: url(#{$pp}bg_dot.png);
			@include fz(14);
			letter-spacing: 1px;
			line-height: 1.6;
			border-bottom: 1px solid $gr3;
			font-weight: bold;
			&.long_area{
				height: 271px - 30 - 16;
			}
		}
		label{
			font-weight: bold;
		}
		>div{
			float: left;
			width: 460px - 40;
			height: 91px - 16;
			padding: 16px 20px 0 20px;
			background: #FFF;
			color: $def;
			@include fz(14);
			letter-spacing: 1px;
			line-height: 1.6;
			border-bottom: 1px solid $gr3;
			&.long_area{
				height: 271px - 16;
			}
		}
	}
	small{
		display: block;
		color: $gr1;
		@include fz(10);
		line-height: 1.8;
		text-indent: -1em;
		padding-left: 1em;
		background-color: #FFF;
	}
	>span{
		padding-left: 18px;
	}
}
/*--部分的調整用スタイル--*/
.td_top{
	border-top: 1px solid $gr1;
}

/* ------ bread ------ */
.bread{
	width: 100%;
	height: 45px;
	background: #FFF;
	overflow: hidden;
	padding: 0 10px;
	@extend %bb;
	li{
		height: 45px;
		float: left;
		@extend %elps;
		padding-right: 17px;
		&:last-child{
			margin-right: 0; 
		}
		%bread_menu{
			display: block;
			height: 45px;
			line-height: 47px;
			background-color: #FFF;
			@include fz(12);
			position: relative;
		}
		span{
			@extend %bread_menu;
			font-weight: bold;
			&:before{
				@include icon(spr1,0,-70,4,8);
				left: 0;
			}
		}
		a{
			@extend %bread_menu;
			@extend %tdn;
			color: $c_txt2;
			padding: 0 46px 0 18px;
			&:before{
				@include icon(sprl,-50,0,18,45);
				right: 0;
			}
		}
	}
}

/* ------ title ------ */
.ttl_dott{
	background: url(#{$pp}ttl_dott.png) left bottom repeat-x; 
	padding-bottom: 12px;
	@include fz(15);
	line-height: 1.8;
	font-weight: bold;
}
%ttl_lower{
	@include fz(20);
	padding: 26px 0 21px 31px;
	border-bottom: 3px solid $gr3;
	font-weight: bold;
	position: relative;
}
@for $value from 1 through 4{
	.ttl_c_key#{$value}{
		@extend %ttl_lower;
		span{
			display: block;
			width: 6px;
			height: 18px;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -9px;
			background: nth($colors_key,$value); 
		}		
	}
}

/* ------ btn ------ */
.btn1,.btn2{
	width: 247px;
	height: 40px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	right: 0;
	bottom: 0;
	@include transition(0.35s);
	&:hover{
		right: -5px;
		bottom: -5px;
		>span{
			@include opacity(0);
		}
	}
	a,button{
		width: 247px;
		height: 40px;
		line-height: 42px;
		text-align: center;
		display: block;
		text-decoration: none;
		color: #FFF;
		@include fz(16);
		position: relative;
		z-index: 1;
		@extend %font1;
		span{
			position: relative;
			padding-left: 16px;
			&:before{
				@include icon(spr1,-2,-18,6,10);
				margin-top: -7px;
				left: 0;
				@include ie78{
					margin-top: -9px;
				}
			}
		}
	}
	>span{
		@extend .shadow1;
	}
}
.btn1{
	a,button{
		background: $c_main;
	}
}
.btn2{
	a,button{
		background: $def;
	}
}

/* ------ section,box ------ */
.sct_border{
	padding: 19px 17px 19px;
	border: 3px solid #FFF; 
	margin-top: 60px;
	overflow: hidden;
}

/* ------ pagination ------ */
.pagination{
	width: 100%;
	position: relative;
	padding: 35px 0 50px;
	background: $c_base;
	.wp-pagenavi{
		text-align: center;
		position: relative;
		z-index: 1;
	}
	%page{
		width: 40px;
		height: 35px;
		@extend %ib;
		@include fz(17);
		line-height: 35px;
		margin: 0 8px;
		text-decoration: none;
		position: relative;
		>span{
			display: block;
			width: 40px;
			height: 35px;
			position: relative;
			z-index: 1;
		}
	}
	a{
		@extend %page;
		@include transition(0.35s);
		right: 0;
		bottom: 0;
		>span{
			color: $def;
			@include transition(0.25s);
			background: #FFF;
		}
		&:hover{
			right: -5px;
			bottom: -5px;
			>span{
				background: $def;
				color: #FFF;
			}
			&:after{
				opacity: 0;
				display: none;
			}
		}
		&.previouspostslink,&.nextpostslink{
			width: 60px;
			@extend %ib;
			position: relative;
			>span{
				width: 60px;
				@extend %blow;
				display: block;
				background: $def;
				color: #FFF;
			}
			&:after{
				width: 60px;
			}
		}
		&.previouspostslink{
			span{
				&:before{
					@include icon(spr1,-2,-58,14,10);				
				}
				&:before{
					left: 23px;
				}
			}
		}
		&.nextpostslink{
			span{
				&:before{
					@include icon(spr1,-2,-18,14,10);				
				}
				&:before{
					left: 23px;
				}
			}
		}		
	}
	.current{
		@extend %page;
		>span{
			background: $def;
			color: #FFF;
		}
	}
}