@charset "UTF-8";
@import "compass";
@import "partial/reset_util";
@import "partial/base";
@import "partial/layout";
@import "partial/module";

/* ===================================================================

contact 冒頭テキスト

=================================================================== */
/* ------ index ------ */
.contact_box{
	margin: 25px 0 0;
	p{
		@include fz(15);
		line-height: 1.9;
		background-color: #FFF;
	}
}
.contact_sct{
	margin-top: 40px;
	&.sct_form{
		margin-top: 37px;
	}
	.ttl_dott{
		margin-bottom: 18px;
	}
	>p{
		@include fz(15);
		line-height: 1.9;
		background-color: #FFF;
	}
	strong{
		font-weight: bold;
		@include fz(16);
	}
}
.contact_form{
	display: block;
	margin-top: 23px;
	.btn2{
		width: 230px;
		button{
			width: 230px;
		}
	}
}
.contact_top_txt{
	margin: 23px 0 28px;
	line-height: 2;
	@include fz(15);
	background-color: #FFF;
	a{
		color: $c_main;
		@extend %tdn;
	}
}
.txt_agree{
	margin: 27px 0 28px;
	text-align: center;
	@include fz(14);
}


/* ------ complete ------ */
.ttl_comp{
	font-size: 1.5rem;
	line-height: 1;
	padding: 0 0 0 22px;
	margin: 22px 0 5px;
	position: relative;
	background-color: #FFF;
	&:before{
		@include icon(sprl,-50,-150,6,18);
		left: 0;
		margin-top: -7px;
	}
}
.contact_sct.sct_comp{
	margin-top: 38px;
	.btn1{
		width: 230px;
		margin-top: 41px;
		a{
			width: 230px;
		}
	}
}

/* ===================================================================

contact テーブル

=================================================================== */
/* ------ ベース ------ */
/*フォーム大枠*/
.tbl_form{
	display: block;
	width: 690px;
	>li{
		@extend %clearfix;
		>p{
			float: left;
			height: 91px - 30 - 16;
			vertical-align: middle;
			width: 229px - 40;
			padding: 27px 20px 19px;
			background: url(#{$pp}bg_dot.png);
			@include fz(14);
			letter-spacing: 1px;
			line-height: 1.6;
			border-bottom: 1px solid $gr3;
			&.long_area{
				height: 271px - 30 - 16;
			}
		}
		label{
			font-weight: bold;
		}
		>div{
			float: left;
			width: 461px - 40;
			height: 91px - 16;
			padding: 16px 20px 0 20px;
			background: #FFF;
			color: $def;
			@include fz(14);
			letter-spacing: 1px;
			line-height: 1.6;
			border-bottom: 1px solid $gr3;
			position: relative;
			&.long_area{
				height: 271px - 16;
			}
		}
	}
	small{
		display: block;
		color: $gr1;
		@include fz(10);
		line-height: 1.8;
		text-indent: -1em;
		padding-left: 1em;
		background-color: #FFF;
	}
	>span{
		padding-left: 18px;
	}
}

/* ------ エラーメッセージ ------ */
.err_box{
	padding: 19px 25px 14px;
	line-height: 2.1;
	@include fz(15);
	background: $c_key2;
	color: #FFF;
	margin: 0 0 25px;
}
.err{
	background: $c_key2 !important;
	color: #FFF !important;
}
.err_txt{
	@extend %ib;
	width: 264px;
	height: 32px;
	position: relative;
	.txt{
		@extend %ib;
		width: 264px;
		height: 32px;
		line-height: 33px;
		text-align: center;
		color: #FFF;
		@include fz(15);
		background-color: $c_key2;
		position: absolute;
		top: 3px;
		left: 0; 
		z-index: 2;
		&:before{
			@include icon(sprl,0,0,20,8);
			left: 32px;
			top: -8px;
			margin: 0;
		}
	}
	.shadow1{
		z-index: 2;
		bottom: -8px;
	}
}

/* ------ 入力部分パーツ ------ */
/*共通スタイル*/
%spr_contact{
	background-image: url(#{$p1}spr_contact.png);
	background-repeat: no-repeat;
}
%form_style{
	@include fz(15);
	color: $def;
	@extend %bb;
	border: 3px solid $c_base;
	@extend %font1;
}
%input_style1{
	background-color: #FFF;
	@include ph($gr3,14);
	&:focus{
		border: 3px solid $gr3;
	}
}
%input_style2{
	height: 40px;
	width: 422px;
	padding: 0 8px;
}

/*input[text,tel,email]*/
.contact_form input{
	@extend %form_style;
	@extend %input_style1;
	@extend %input_style2;
	@include ie78{
		line-height: 40px;
	}
}

/*textarea*/
textarea{
	@extend %form_style;
	@extend %input_style1;
	width: 422px;
	height: 220px;
	padding: 10px 15px 11px;
	line-height: 1.4;
}

/*button*/
.btn_box{
	text-align: center;
}
%btn_contact{
	@extend %ib;
	height: 73px;
	@extend %spr_c;
	position: relative;
	span{
		display: block;
		height: 73px;
		@extend %spr_c;
		@extend %blow;
		@include opacity(0);
		position: absolute;
		top: 0;
		left: 0;
		@include ie78{
			display: none;
		}
	}
}

.btn_submit{
	@extend %btn_contact;
	width: 297px;
	background-position: -150px -300px;
	span{
		width: 297px;
		background-position: -150px -400px;
	}
}
.btn_back{
	@extend %btn_contact;
	width: 117px;
	background-position: 0 -300px;
	span{
		width: 117px;
		background-position: 0 -400px;
	}
}

/*--perfect scroll--*/
.privacy_box{
	margin-top: 25px;
	padding: 30px 11px 27px 15px;
	border: 4px solid $c_base;
	>section{
		width: 656px;
		height: 141px;
		overflow: hidden;
		position: relative;
	}
	h5{
		@include fz(15);
		font-weight: bold;
		margin-bottom: 19px;
	}
	ul,address{
		line-height: 2;
		@include fz(14);
		padding-right: 21px;
	}
	li{
		position: relative;
		padding-left: 12px;
		&:before{
			@include icon(sprl,-100,0,5,5);
			margin: 0;
			top: 10px;
			left: 0;
		}
	}
	address{
		margin-top: 10px;
	}
}

.ps-container .ps-scrollbar-x-rail {
	display: none;
//     position: absolute; /* please don't change 'position' */
//     bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
//     height: 8px;
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     border-radius: 4px;
//     opacity: 0;
//     filter: alpha(opacity = 0);
//     -o-transition: background-color .2s linear, opacity .2s linear;
//     -webkit-transition: background-color.2s linear, opacity .2s linear;
//     -moz-transition: background-color .2s linear, opacity .2s linear;
//     transition: background-color .2s linear, opacity .2s linear;
}

// .ps-container:hover .ps-scrollbar-x-rail,
// .ps-container.hover .ps-scrollbar-x-rail {
//     opacity: 0.6;
//     filter: alpha(opacity = 60);
// }

// .ps-container .ps-scrollbar-x-rail:hover,
// .ps-container .ps-scrollbar-x-rail.hover {
//     background-color: #eee;
//     opacity: 0.9;
//     filter: alpha(opacity = 90);
// }

// .ps-container .ps-scrollbar-x-rail.in-scrolling {
//     opacity: 0.9;
//     filter: alpha(opacity = 90);
// }

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    // -webkit-border-radius: 4px;
    // -moz-border-radius: 4px;
    // border-radius: 4px;
    // opacity: 0;
    // filter: alpha(opacity = 0);
    // -o-transition: background-color .2s linear, opacity .2s linear;
    // -webkit-transition: background-color.2s linear, opacity .2s linear;
    // -moz-transition: background-color .2s linear, opacity .2s linear;
    // transition: background-color .2s linear, opacity .2s linear;
}

// .ps-container:hover .ps-scrollbar-y-rail,
// .ps-container.hover .ps-scrollbar-y-rail {
//     opacity: 0.6;
//     filter: alpha(opacity = 60);
// }

// .ps-container .ps-scrollbar-y-rail:hover,
// .ps-container .ps-scrollbar-y-rail.hover {
//     background-color: #eee;
//     opacity: 0.9;
//     filter: alpha(opacity = 90);
// }

// .ps-container .ps-scrollbar-y-rail.in-scrolling {
//     opacity: 0.9;
//     filter: alpha(opacity = 90);
// }

// .ps-container .ps-scrollbar-x {
//     position: absolute; /* please don't change 'position' */
//     bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
//     height: 8px;
//     background-color: #aaa;
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     border-radius: 4px;
//     -o-transition: background-color .2s linear;
//     -webkit-transition: background-color.2s linear;
//     -moz-transition: background-color .2s linear;
//     transition: background-color .2s linear;
// }

// .ps-container.ie6 .ps-scrollbar-x {
//     font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
// }

// .ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
// .ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
//     background-color: #999;
// }

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 5px;
    background-color: $gr3;
    // -webkit-border-radius: 4px;
    // -moz-border-radius: 4px;
    // border-radius: 4px;
    // -o-transition: background-color .2s linear;
    // -webkit-transition: background-color.2s linear;
    // -moz-transition: background-color .2s linear;
    // transition: background-color .2s linear;
}

// .ps-container.ie .ps-scrollbar-y {
//     font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
// }

// .ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
// .ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
//     background-color: #999;
// }
