@charset "UTF-8";
@import "compass";
@import "partial/reset_util";
@import "partial/base";
@import "partial/layout";
@import "partial/module";
@import "partial/article_box";

/* ===================================================================

index

=================================================================== */
.news_boxes{
	width: 750px;
	height: 750px;
	position: relative;
	.box{
		position: absolute;
		margin: 0;
		.box_inner{
			right: 0;
			bottom: 0;
		}
		&:hover{
			.box_inner{
				right: -5px;
				bottom: -5px;
			}
			.shadow{
				opacity:0;
			}
		}
		.shadow{
			@include transition(0.5s);
		}
	}
}
.news_box1{
	top: 0;
	left: 0;
}
.news_box2{
	top: 0;
	left: 260px;
}
.news_box3{
	top: 0;
	left: 520px;
}
.news_box4{
	top: 260px;
	left: 0;
}
.news_box5{
	top: 260px;
	left: 260px;
}
.news_box6{
	top: 260px;
	left: 520px;
}
.news_box7{
	top: 520px;
	left: 0;
}
.news_box8{
	top: 520px;
	left: 260px;
}
.news_box9{
	top: 520px;
	left: 520px;
}
.pagination{
	.page_news &{
		margin-top: 50px;
	}
}


/* ===================================================================

detail

=================================================================== */
.article_top{
	@extend %clearfix;
	padding: 0 0 15px;
	.ttl_article{
		@extend .ttl_c_key2;
		line-height: 1.6;
		padding: 21px 30px 14px 30px;
		margin-bottom: 20px;
		span{
			top: 26px;
			margin: 0;
		}
	}
	>div{
		width: 750px - 30 * 2;
		padding: 0 30px;
		@extend %clearfix;
	}
	time{
		float: left;
		padding-top: 4px;
		@include fz(12);
		letter-spacing: 1px;
	}
	.cat_jp{
		float: left;
		display: block;
		height: 18px;
		padding: 0 15px;
		line-height: 19px;			
		@include fz(11);
		color: $c_txt2; 
		border: 1px dotted $gr2;
		margin-left: 23px;
	}
	.sns_btns{
		float: right;
		height: 20px;
		padding-top: 1px;
		li{
			float: right;
			margin-left: 15px;
			&:first-child{
				margin-left: 0;
			}
			&.fb_btn {
				width: 113px !important;
			}
			&.tw_btn {
				width: 106px !important;
			}
			&.g_btn {
				width: 80px !important;
			}
		}
	}
	.eyecatch{
		padding: 20px 30px 0; 
		text-align: center;
		p{
			padding-top: 20px;
			line-height: 1.9;
			@include fz(15);
			text-align: left;
			background-color: #FFF;
		}
		b{
			@include fz(16);
		}
		strong{
			color: $c_key2; 
		}
	}
}

.article_body{
	padding: 0 30px 35px;
	h2{
		@extend .ttl_dott;
		@include fz(15);
		line-height: 1.9;
		padding: 0 0 12px 0;
		margin: 20px 0 19px;
		background-color: #FFF; 
	}
	h3{
		@include fz(15);
		line-height: 1.9;
		padding: 0 0 5px;
		font-weight: bold;
		border-bottom: 2px solid $gr3;
		margin: 20px 0 19px;
		background-color: #FFF;
	}
	h4{
		@include fz(15);
		line-height: 1.9;
		padding: 0 0 0 22px;
		font-weight: bold;
		margin: 21px 0 13px;
		position: relative;
		background-color: #FFF;
		&:before{
			@include icon(sprl,-50,-150,6,18);
			top: 8px;
			left: 0;
			margin: 0;
		}
	}
	div{
		@extend %clearfix;
	}
	p{
		@include fz(14);
		line-height: 2;
		padding-bottom: 15px;
		background-color: #FFF;
		max-width: 690px;
	}
	iframe{
		width: 690px;
		height: 430px;
	}
	.aligncenter{
		display: block;
		margin: 0 auto;
		padding-bottom: 10px;
	}
	.alignright {
	    float:right;
	    margin: 5px 0 10px 28px;
	}
	.alignleft {
	    float: left;
	    margin: 5px 28px 10px 0;
	}
	strong{
		font-weight: bold;
	}
	a{
		color: $c_main;
		@extend %tdu;
	}
	a[target="new"],a[target="_blank"]{
		padding-left: 22px;
		@extend %ib;
		position: relative;
		&:before{
			@include icon(sprl,-150,0,15,12);
			left: 0;
		}
	}
	>ul{
		margin: 13px 0 43px;
		>li{
			@include fz(14);
			line-height: 2.1;
			padding: 0 0 7px 20px;
			margin-bottom: 14px;
			background: url(#{$pp}bg_list.png) #FFF left bottom repeat-x;
			position: relative;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				position: absolute;
				@include icon(sprl,-100,0,5,5);
				top: 13px;
				margin: 0;
				left: 0; 
			}
		}
	}	
	>ol{
		margin-bottom: 38px;
		counter-reset:num;
		>li{
			@include fz(15);
			line-height: 2.1;
			position: relative;
			padding-left: 44px;
			margin-bottom: 10px;
			background-color: #FFF;
			&:before{
				counter-increment:num;
				content: counter(num);
				display: block;
				width: 14px;
				height: 14px;
				@extend %spr2;
				background-position: -70px -370px; 
				position: absolute;
				top: 8px;
				left: 10px;
				@extend %font1;
				color: $c_main;
				font-weight: bold;
			}
		}
	}
	blockquote{
		padding: 25px 30px 27px;
		margin: 35px 0 15px;
		@include fz(14);
		padding-left: 24px;
		letter-spacing: 1px;
		background: url(#{$pp}bg_q.png) $c_base right bottom no-repeat;
		p{
			line-height: 2;
			margin: 0;
			background: transparent; 
		}
		small{
			display: block;
			text-align: right;
			position: relative;
			padding-top: 7px;
		}
	}
}

.article_footer{
	margin-top: 30px;
	@extend %clearfix;
	.main_cnt &{
		margin-top: 35px;
		padding: 0 35px 80px;		
	}
}
.af_sns{
		width: 690px;
		overflow: hidden;
		margin-bottom: 60px;
	}

.page_front_end{
	@extend %clearfix;
	margin-bottom: 50px;
	.shadow1{
		background: $gr3; 
	}
	.page_next {
		float: right;
		right: 0;
		bottom: 0;
		a{
			span{
				padding-right: 34px;
				&:before{
					@include icon(spr1,-2,-18,6,10);
					right: 8px;
				}
				&:after{
					@include icon(spr1,-2,-18,6,10);
					right: 0;
				}
			}
		}
	}
	.page_prev {
		float: left;
		right: 0;
		bottom: 0;
		a{
			span{
				padding-left: 34px;
				&:before{
					@include icon(spr1,-2,-58,6,10);
					left: 8px;
				}
				&:after{
					@include icon(spr1,-2,-58,6,10);
					left: 0;
				}
			}
		}
	}
	.page_next,.page_prev{
		width: 180px;
		height: 35px;
		@include transition(0.35s);
		position: relative;
		&:hover{
			right: -5px;
			bottom: -5px;
			.shadow1{
				@include opacity(0); 
			}
		}
		a{
			display: block;
			outline: 0;
			width: 180px;
			height: 35px;
			line-height: 35px;
			background: $def;
			position: relative;
			z-index: 2;
			text-decoration: none;
			text-align: center;
			&.disabled {
				background: $gr1;
				cursor: no-drop;
			}
			span{
				position: relative;
				color: #FFF; 
				@include fz(14);
				letter-spacing: 1px;
			}
		}
	}
}
.article_list{
	position: relative;
	top: -1px;
	@extend %clearfix;
	.box{
		position: relative;
		right: 0;
		bottom: 0;
		margin: 0 30px 0 0;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			right: -5px;
			bottom: -5px;
		}
		.shadow{
		}
	}
}