@charset "UTF-8";
@import "compass";
@import "partial/reset_util";
@import "partial/base";
@import "partial/layout";
@import "partial/module";

/* ===================================================================

@mixin,%class of This page

=================================================================== */
@mixin box($w,$h){
	width: $w + px;
	height: $h + px;
	a{
		width: $w - 2 + px;
		height: $h - 2 + px;
	}
	.shadow,.hover{
		width: $w - 2 + px;
		height: $h - 2 + px;
	}
}

@mixin box_arrow($sprite,$left,$top,$width,$height){
	content: "";
	display: block;
	width: $width + px;
	height: $height + px;
	position: absolute;
	z-index: 2;
	background-position: $left $top;
	@if $sprite == box1{
		background-image: url(#{$pp}bg_box1.png);
		background-repeat: no-repeat;
	}
	@else if $sprite == box2{
		background-image: url(#{$pp}bg_box2.png);
		background-repeat: no-repeat;
	}
}

/* ===================================================================

top

=================================================================== */
.top_main{
	width: 100%;
	@extend %bb;
	a{
		display: block;
		width: 100%;
		text-decoration: none;
		overflow: hidden;
		position: relative;
		&:hover{
			opacity:0.8;
		}
	}
	.top_main_img{
		width: 100%;
		height: 400px;
		img{
			width: 100%;
			height: 400px;
		}
	}
	.top_main_txt{
		width: 100%;
		height: 110px;
		@extend %bb;
		padding: 15px 15px 0;
		background: rgba(0,0,0,.7);
		color: #FFF;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	h2{
		@include fz(25);
		font-weight: bold;
		margin-bottom: 8px;	
	}
	p{
		@include fz(15);
		line-height: 1.8;
	}
}

.menu_list{
	width: 100%;
	margin-top: 30px;
	border-bottom: 2px solid $gr3;
	padding: 0 30px;
	@extend %bb;
	@extend %clearfix;
	li{
		float: left;
		height: 42px;
	}
	a{
		display: block;
		height: 40px;
		line-height: 43px;
		text-align: center;
		padding: 0 15px;
		color: #FFF;
		text-decoration: none;
		@include fz(15);
		font-weight: bold;
		position: relative;
		&.active{
			background: $c_base;
			border-top: 2px solid $gr3;
			border-right: 2px solid $gr3;
			border-left: 2px solid $gr3;
			border-bottom: 2px solid $c_base;
		}
		&.menu_cat0{
			color: $c_main;
		}
		@for $value from 1 through 4{
			&.menu_cat#{$value}{
				color: nth($colors_key,$value);			
			}
		}
	}
}

// コンテンツ記事・大枠
.top_contents{
	width: 1100px;
	padding: 15px 15px 0;
	margin: 0 auto; 
	@extend %clearfix;
	background: $c_base;
}

// コンテンツ記事・共通パーツ・サイズ別パーツ
.box{
	margin: 15px;
	float: left;
}
.box_long{
	@include box(245,410);
}
.box_inner{
	display: block;
	border: 1px solid $gr1;
	text-decoration: none;
	color: $def;
	background: #FFF;
	overflow: hidden;
	position: relative;
	%ribon{
		display: block;
		width: 70px;
		height: 30px;
		position: absolute;
		top: 0;
		right: 0;
		color: #FFF;
		@include fz(13);
		font-weight: bold;
		text-align: center;
		line-height: 33px;		
	}
	.new{
		@extend %ribon;
		background: $c_key6;
	}
	.like{
		@extend %ribon;
		background: $c_key5;
	}
}

// コンテンツ記事・共通パーツ・画像部分
.box_eye{
	border-bottom: 1px solid $gr3;
}

// コンテンツ記事・共通パーツ・テキスト部分
.box_body{
	width: 243px - 28;
	padding: 14px 14px 12px;
	overflow: hidden;
	height: 48px;
	position: relative;
}
.box_head_txt{
	float: left;
	width: 215px;
	line-height: 1.6;
	@include fz(15);
	font-weight: bold;
}
.box_foot{
	width: 243px;
	overflow: hidden;
	border-top: 1px solid $gr3;
	li{
		float: left;
		height: 50px;
		line-height: 53px;
		@include fz(15);
		text-align: center;
		color: #FFF;
		&.cat{
			width: 111px;
			font-weight: bold;
			@for $value from 1 through 4{
				.type#{$value} &{
					background: nth($colors_key,$value);
				}
			}
		}
		&.mot{
			width: 75px;
			border-left: 1px solid $gr3;
			background: #666;			
		}
		&.area{
			width: 55px;
			border-left: 1px solid $gr3;
			background: #666;			
		}
	}
}