@charset "UTF-8";
/* ===================================================================

util

=================================================================== */
.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

/* ===================================================================

reset

=================================================================== */
html,
body,
#wrapper {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

img {
  vertical-align: bottom;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1;
}

a, label {
  cursor: pointer;
}

blockquote {
  padding: 0;
  margin: 0;
  display: block;
}

address, em {
  font-style: normal;
}

hr {
  border: 0;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: none;
}

input, button, select {
  vertical-align: middle;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  background: transparent;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  line-height: 1;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateIn {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateIn {
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
#btn_pt, #btn_pt span, .side_menu a > span:before, .bread li span:before, .btn1 a span:before, .btn1 button span:before, .btn2 a span:before, .btn2 button span:before, .pagination a.previouspostslink span:before, .pagination a.nextpostslink span:before {
  background-image: url(../images/pc/spr1.png);
  background-repeat: no-repeat;
}

.bread li a:before {
  background-image: url(../images/pc/spr_l.png);
  background-repeat: no-repeat;
}

#btn_pt span, .pagination a.previouspostslink > span, .pagination a.nextpostslink > span {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}

.contents_body, #header .head_top, .g_nav, .foot_bottom, .tbl_form > li, .menu_list, .top_contents {
  zoom: 1;
}
.contents_body:before, #header .head_top:before, .g_nav:before, .foot_bottom:before, .tbl_form > li:before, .menu_list:before, .top_contents:before, .contents_body:after, #header .head_top:after, .g_nav:after, .foot_bottom:after, .tbl_form > li:after, .menu_list:after, .top_contents:after {
  content: "";
  display: block;
}
.contents_body:after, #header .head_top:after, .g_nav:after, .foot_bottom:after, .tbl_form > li:after, .menu_list:after, .top_contents:after {
  clear: both;
}

.side_menu b, .pagination a, .pagination .current, .pagination a.previouspostslink, .pagination a.nextpostslink {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.bread li a {
  text-decoration: none;
}
.bread li a:hover {
  text-decoration: underline;
}

.bread li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.site_name, .top_menu > ul > li, .top_menu_a, .foot_bottom, .side_menu a, .bread, .top_main, .top_main .top_main_txt, .menu_list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, .btn1 a, .btn1 button, .btn2 a, .btn2 button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.nav_name, .g_nav li a, .foot_bottom small, .contents_header .ttl_page .en {
  font-family: 'Open Sans', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.anm_fade#header {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.anm_fade#contents {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.anm_fade#footer {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ===================================================================
CSS information
 style info :  レイアウトに関わるスタイル
=================================================================== */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateIn {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateIn {
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
#btn_pt, #btn_pt span, .side_menu a > span:before, .bread li span:before, .btn1 a span:before, .btn1 button span:before, .btn2 a span:before, .btn2 button span:before, .pagination a.previouspostslink span:before, .pagination a.nextpostslink span:before {
  background-image: url(../images/pc/spr1.png);
  background-repeat: no-repeat;
}

.bread li a:before {
  background-image: url(../images/pc/spr_l.png);
  background-repeat: no-repeat;
}

#btn_pt span, .pagination a.previouspostslink > span, .pagination a.nextpostslink > span {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}

.contents_body, #header .head_top, .g_nav, .foot_bottom, .tbl_form > li, .menu_list, .top_contents {
  zoom: 1;
}
.contents_body:before, #header .head_top:before, .g_nav:before, .foot_bottom:before, .tbl_form > li:before, .menu_list:before, .top_contents:before, .contents_body:after, #header .head_top:after, .g_nav:after, .foot_bottom:after, .tbl_form > li:after, .menu_list:after, .top_contents:after {
  content: "";
  display: block;
}
.contents_body:after, #header .head_top:after, .g_nav:after, .foot_bottom:after, .tbl_form > li:after, .menu_list:after, .top_contents:after {
  clear: both;
}

.side_menu b, .pagination a, .pagination .current, .pagination a.previouspostslink, .pagination a.nextpostslink {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.bread li a {
  text-decoration: none;
}
.bread li a:hover {
  text-decoration: underline;
}

.bread li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.site_name, .top_menu > ul > li, .top_menu_a, .foot_bottom, .side_menu a, .bread, .top_main, .top_main .top_main_txt, .menu_list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, .btn1 a, .btn1 button, .btn2 a, .btn2 button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.nav_name, .g_nav li a, .foot_bottom small, .contents_header .ttl_page .en {
  font-family: 'Open Sans', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.anm_fade#header {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.anm_fade#contents {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.anm_fade#footer {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ===================================================================

@mixin,%class of This page

=================================================================== */
.contents_body {
  width: 1010px;
  margin: 0 auto;
  padding: 0 30px;
}

/* ===================================================================

layout

=================================================================== */
/* ------ ::selection,a ------ */
::selection {
  background: #0066b3;
  color: #fff;
}

a {
  color: #0066b3;
  text-decoration: underline;
  -webkit-touch-callout: none;
}
a.hover {
  text-decoration: none;
}

a, input, select, label {
  -webkit-tap-highlight-color: rgba(0, 102, 179, 0.7);
}

/* ------ body ------ */
body {
  color: #5e5e5e;
  background: #5e5e5e;
}

#wrapper {
  overflow: hidden;
  background: #fff;
}
.pc .lower #wrapper {
  min-width: 1070px;
}
.sp #wrapper, .tablet #wrapper {
  position: relative;
}

/*current*/
body.page_top .g_nav1 .bg_gnav {
  top: 0 !important;
}
body.page_top .g_nav1 .nav_name {
  color: #FFF;
}
body.page_top .g_nav1 .nav_name .i_ac {
  background-position: -70px 0px;
  background-color: #fff;
}
body.page_news .g_nav2 .bg_gnav {
  top: 0 !important;
}
body.page_news .g_nav2 .nav_name {
  color: #FFF;
}
body.page_news .g_nav2 .nav_name .i_ac {
  background-position: -70px 0px;
  background-color: #fff;
}
body.page_service .g_nav3 .bg_gnav {
  top: 0 !important;
}
body.page_service .g_nav3 .nav_name {
  color: #FFF;
}
body.page_service .g_nav3 .nav_name .i_ac {
  background-position: -70px 0px;
  background-color: #fff;
}
body.page_company .g_nav4 .bg_gnav {
  top: 0 !important;
}
body.page_company .g_nav4 .nav_name {
  color: #FFF;
}
body.page_company .g_nav4 .nav_name .i_ac {
  background-position: -70px 0px;
  background-color: #fff;
}
body.page_contact .g_nav5 .bg_gnav {
  top: 0 !important;
}
body.page_contact .g_nav5 .nav_name {
  color: #FFF;
}
body.page_contact .g_nav5 .nav_name .i_ac {
  background-position: -70px 0px;
  background-color: #fff;
}

/* ------ header ------ */
#header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 5;
}
.pc #header {
  min-width: 1070px;
}
#header .head_top {
  width: 100%;
  height: 90px;
}
.lower #header .head_top {
  min-width: 1010px;
  margin: 0 auto;
}

.site_name {
  float: left;
  width: 490px;
  height: 90px;
  padding: 25px 0 0 32px;
}
.site_name a {
  display: block;
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background: #0066b3;
}
.site_name h1 {
  float: left;
  padding: 18px 0 0 19px;
}

.top_menu {
  float: right;
  height: 90px;
  margin-right: 30px;
}
.top_menu > ul {
  float: right;
  width: 230px;
}
.top_menu > ul > li {
  float: left;
  width: 100px;
  height: 90px;
  padding: 30px 0;
  margin-left: 15px;
}

.top_menu_a {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  background: #666;
  color: #FFF;
}

.nav_name {
  height: 90px;
  overflow: hidden;
  display: block;
  background: transparent;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFF;
  position: relative;
  z-index: 2;
  letter-spacing: 1px;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.g_nav {
  width: 100%;
  position: relative;
}
.g_nav li {
  float: left;
  width: 33.3%;
  -moz-transition: width 0.35s;
  -o-transition: width 0.35s;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
}
.g_nav li.active a span, .g_nav li:hover a span {
  background: #0066b3;
}
.g_nav li a span {
  background: #70acb4;
}
.g_nav li a {
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  color: #FFF;
  position: relative;
  font-size: 15px;
  font-size: 1.5rem;
  text-decoration: none;
}
.g_nav li a > span {
  display: block;
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  font-weight: 600;
  letter-spacing: 1px;
}
.g_nav li a > span.cat_name {
  z-index: 2;
}
.g_nav li a > span.bg_nav {
  z-index: 1;
}
.g_nav li a > span.bg_nav span {
  display: block;
  width: 200px;
  height: 45px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: -10px;
}

/* ------ footer ------ */
#footer {
  width: 100%;
  position: relative;
}
.pc #footer {
  min-width: 1070px;
}
#footer .bread {
  border-top: 1px solid #cccccc;
}

.foot_bottom {
  width: 100%;
  height: 45px;
  padding: 0 30px;
  background: #5e5e5e;
}
.foot_bottom small {
  display: block;
  float: right;
  padding-top: 16px;
  color: #FFF;
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.foot_sns {
  width: 250px;
  float: left;
  padding: 13px 0 0;
}
.foot_sns li {
  float: left;
  margin-right: 10px;
}
.foot_sns li:last-child {
  margin-right: 0;
}
.foot_sns li.fb_btn {
  width: 113px !important;
  height: 20px !important;
}
.foot_sns li.fb_btn iframe {
  width: 113px !important;
  height: 20px !important;
}
.foot_sns li.tw_btn {
  width: 106px !important;
  height: 20px !important;
}

#btn_pt {
  content: "";
  display: block;
  width: 77px;
  height: 77px;
  position: absolute;
  top: 50%;
  margin-top: -38.5px;
  background-position: -250px 0px;
  top: -77px;
  right: 0;
  z-index: 10;
  margin: 0;
}
#btn_pt span {
  content: "";
  display: block;
  width: 10px;
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  background-position: 0px 0px;
  top: 44px;
  right: 21px;
  margin: 0;
}

/* ------ contents ------ */
#contents {
  width: 100%;
  margin: 0 auto;
}
.page_top #contents {
  background: #eeeeee;
}

.contents_header {
  width: 100%;
  height: 265px;
  position: relative;
  margin-bottom: 30px;
}
.pc .contents_header {
  min-width: 1070px;
}
.contents_header > div {
  width: 100%;
  height: 220px;
  position: relative;
  z-index: 1;
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.page_news .contents_header > div {
  background-image: url(../images/pc/ttl_page_news.jpg);
}
.page_service .contents_header > div {
  background-image: url(../images/pc/ttl_page_service.jpg);
}
.page_contact .contents_header > div {
  background-image: url(../images/pc/ttl_page_contact.jpg);
}
.page_company .contents_header > div {
  background-image: url(../images/pc/ttl_page_company.jpg);
}
.page_etc .contents_header > div {
  background-image: url(../images/pc/ttl_page_etc.jpg);
}
.contents_header .bread {
  position: relative;
  z-index: 1;
}
.contents_header .ttl_page {
  padding: 80px 30px 0;
}
.contents_header .ttl_page .en, .contents_header .ttl_page .jp {
  display: block;
  color: #FFF;
}
.contents_header .ttl_page .en {
  font-size: 25px;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 18px;
  font-weight: bold;
}
.contents_header .ttl_page .jp {
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.contents_header .sh_ch {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/pc/clr_sh.png);
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 0;
}

/* ------ main ------ */
#main {
  width: 750px;
  float: left;
}
#main > article {
  width: 750px;
  background: #FFF;
}
#main .main_inner {
  padding: 0 30px 50px;
}

/* ------ side ------ */
#side {
  float: right;
  width: 230px;
}
#side .side_shadow {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/pc/clr_sh.png);
  position: absolute;
  right: -5px;
  bottom: -5px;
  z-index: 0;
}

.side_menu li {
  width: 230px;
  height: 50px;
  margin-bottom: 2px;
  position: relative;
}
.side_menu li:last-child {
  margin-bottom: 0;
}
.side_menu a {
  display: block;
  width: 230px;
  height: 50px;
  padding: 0 10px 0 15px;
  line-height: 53px;
  background: #FFF;
  color: #878787;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  overflow: hidden;
}
.side_menu a:hover {
  background: #dbdbdb;
}
.side_menu a:hover span {
  padding-left: 26px;
}
.side_menu a > span {
  float: left;
  position: relative;
  padding-left: 16px;
  font-size: 15px;
  font-size: 1.5rem;
  -moz-transition: padding 0.35s;
  -o-transition: padding 0.35s;
  -webkit-transition: padding 0.35s;
  transition: padding 0.35s;
}
.side_menu a > span:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background-position: -1px -100px;
  margin-top: -7px;
  left: 0;
}
.side_menu a > span.current {
  font-weight: bold;
}
.side_menu b {
  float: right;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  background: #eeeeee;
  margin-top: 10px;
}

.b_list li {
  width: 230px;
  margin-bottom: 20px;
  position: relative;
}
.b_list li:hover a {
  right: -5px;
  bottom: -5px;
}
.b_list li:hover .side_shadow {
  opacity: 0;
}
.b_list li a {
  display: block;
  width: 230px;
  position: relative;
  right: 0;
  bottom: 0;
  z-index: 1;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.b_list li:last-child {
  margin-bottom: 0;
}
.b_list .side_shadow {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* ===================================================================
CSS information
 style info :  モジュールとなる要素のスタイル
=================================================================== */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateIn {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateIn {
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
#btn_pt, #btn_pt span, .side_menu a > span:before, .bread li span:before, .btn1 a span:before, .btn1 button span:before, .btn2 a span:before, .btn2 button span:before, .pagination a.previouspostslink span:before, .pagination a.nextpostslink span:before {
  background-image: url(../images/pc/spr1.png);
  background-repeat: no-repeat;
}

.bread li a:before {
  background-image: url(../images/pc/spr_l.png);
  background-repeat: no-repeat;
}

#btn_pt span, .pagination a.previouspostslink > span, .pagination a.nextpostslink > span {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}

.contents_body, #header .head_top, .g_nav, .foot_bottom, .tbl_form > li, .menu_list, .top_contents {
  zoom: 1;
}
.contents_body:before, #header .head_top:before, .g_nav:before, .foot_bottom:before, .tbl_form > li:before, .menu_list:before, .top_contents:before, .contents_body:after, #header .head_top:after, .g_nav:after, .foot_bottom:after, .tbl_form > li:after, .menu_list:after, .top_contents:after {
  content: "";
  display: block;
}
.contents_body:after, #header .head_top:after, .g_nav:after, .foot_bottom:after, .tbl_form > li:after, .menu_list:after, .top_contents:after {
  clear: both;
}

.side_menu b, .pagination a, .pagination .current, .pagination a.previouspostslink, .pagination a.nextpostslink {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.bread li a {
  text-decoration: none;
}
.bread li a:hover {
  text-decoration: underline;
}

.bread li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.site_name, .top_menu > ul > li, .top_menu_a, .foot_bottom, .side_menu a, .bread, .top_main, .top_main .top_main_txt, .menu_list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, .btn1 a, .btn1 button, .btn2 a, .btn2 button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.nav_name, .g_nav li a, .foot_bottom small, .contents_header .ttl_page .en {
  font-family: 'Open Sans', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.anm_fade#header {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.anm_fade#contents {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.anm_fade#footer {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ------ style ------ */
.shadow1, .btn1 > span, .btn2 > span {
  display: block;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  position: absolute;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* ------ table ------ */
.tbl_form {
  display: block;
  width: 690px;
}
.tbl_form > li > p {
  float: left;
  height: 45px;
  vertical-align: middle;
  width: 190px;
  padding: 30px 20px 16px;
  background: url(../images/pc/bg_dot.png);
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.6;
  border-bottom: 1px solid #d6d6d6;
  font-weight: bold;
}
.tbl_form > li > p.long_area {
  height: 225px;
}
.tbl_form > li label {
  font-weight: bold;
}
.tbl_form > li > div {
  float: left;
  width: 420px;
  height: 75px;
  padding: 16px 20px 0 20px;
  background: #FFF;
  color: #5e5e5e;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.6;
  border-bottom: 1px solid #d6d6d6;
}
.tbl_form > li > div.long_area {
  height: 255px;
}
.tbl_form small {
  display: block;
  color: #cccccc;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.8;
  text-indent: -1em;
  padding-left: 1em;
  background-color: #FFF;
}
.tbl_form > span {
  padding-left: 18px;
}

/*--部分的調整用スタイル--*/
.td_top {
  border-top: 1px solid #cccccc;
}

/* ------ bread ------ */
.bread {
  width: 100%;
  height: 45px;
  background: #FFF;
  overflow: hidden;
  padding: 0 10px;
}
.bread li {
  height: 45px;
  float: left;
  padding-right: 17px;
}
.bread li:last-child {
  margin-right: 0;
}
.bread li span, .bread li a {
  display: block;
  height: 45px;
  line-height: 47px;
  background-color: #FFF;
  font-size: 12px;
  font-size: 1.2rem;
  position: relative;
}
.bread li span {
  font-weight: bold;
}
.bread li span:before {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  background-position: 0px -70px;
  left: 0;
}
.bread li a {
  color: #878787;
  padding: 0 46px 0 18px;
}
.bread li a:before {
  content: "";
  display: block;
  width: 18px;
  height: 45px;
  position: absolute;
  top: 50%;
  margin-top: -22.5px;
  background-position: -50px 0px;
  right: 0;
}

/* ------ title ------ */
.ttl_dott {
  background: url(../images/pc/ttl_dott.png) left bottom repeat-x;
  padding-bottom: 12px;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: bold;
}

.ttl_c_key1, .ttl_c_key2, .ttl_c_key3, .ttl_c_key4 {
  font-size: 20px;
  font-size: 2rem;
  padding: 26px 0 21px 31px;
  border-bottom: 3px solid #d6d6d6;
  font-weight: bold;
  position: relative;
}

.ttl_c_key1 span {
  display: block;
  width: 6px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  background: #70acb4;
}

.ttl_c_key2 span {
  display: block;
  width: 6px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  background: #e5575a;
}

.ttl_c_key3 span {
  display: block;
  width: 6px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  background: #bdc359;
}

.ttl_c_key4 span {
  display: block;
  width: 6px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  background: #2bab8e;
}

/* ------ btn ------ */
.btn1, .btn2 {
  width: 247px;
  height: 40px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  bottom: 0;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.btn1:hover, .btn2:hover {
  right: -5px;
  bottom: -5px;
}
.btn1:hover > span, .btn2:hover > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.btn1 a, .btn1 button, .btn2 a, .btn2 button {
  width: 247px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;
}
.btn1 a span, .btn1 button span, .btn2 a span, .btn2 button span {
  position: relative;
  padding-left: 16px;
}
.btn1 a span:before, .btn1 button span:before, .btn2 a span:before, .btn2 button span:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background-position: -2px -18px;
  margin-top: -7px;
  left: 0;
}
.ie7_html .btn1 a span:before, .ie7_html .btn1 button span:before, .ie7_html .btn2 a span:before, .ie7_html .btn2 button span:before {
  margin-top: -9px;
}

.btn1 a, .btn1 button {
  background: #0066b3;
}

.btn2 a, .btn2 button {
  background: #5e5e5e;
}

/* ------ section,box ------ */
.sct_border {
  padding: 19px 17px 19px;
  border: 3px solid #FFF;
  margin-top: 60px;
  overflow: hidden;
}

/* ------ pagination ------ */
.pagination {
  width: 100%;
  position: relative;
  padding: 35px 0 50px;
  background: #eeeeee;
}
.pagination .wp-pagenavi {
  text-align: center;
  position: relative;
  z-index: 1;
}
.pagination a, .pagination .current {
  width: 40px;
  height: 35px;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 35px;
  margin: 0 8px;
  text-decoration: none;
  position: relative;
}
.pagination a > span, .pagination .current > span {
  display: block;
  width: 40px;
  height: 35px;
  position: relative;
  z-index: 1;
}
.pagination a {
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  right: 0;
  bottom: 0;
}
.pagination a > span {
  color: #5e5e5e;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: #FFF;
}
.pagination a:hover {
  right: -5px;
  bottom: -5px;
}
.pagination a:hover > span {
  background: #5e5e5e;
  color: #FFF;
}
.pagination a:hover:after {
  opacity: 0;
  display: none;
}
.pagination a.previouspostslink, .pagination a.nextpostslink {
  width: 60px;
  position: relative;
}
.pagination a.previouspostslink > span, .pagination a.nextpostslink > span {
  width: 60px;
  display: block;
  background: #5e5e5e;
  color: #FFF;
}
.pagination a.previouspostslink:after, .pagination a.nextpostslink:after {
  width: 60px;
}
.pagination a.previouspostslink span:before {
  content: "";
  display: block;
  width: 14px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background-position: -2px -58px;
}
.pagination a.previouspostslink span:before {
  left: 23px;
}
.pagination a.nextpostslink span:before {
  content: "";
  display: block;
  width: 14px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background-position: -2px -18px;
}
.pagination a.nextpostslink span:before {
  left: 23px;
}
.pagination .current > span {
  background: #5e5e5e;
  color: #FFF;
}

/* ===================================================================

@mixin,%class of This page

=================================================================== */
/* ===================================================================

top

=================================================================== */
.top_main {
  width: 100%;
}
.top_main a {
  display: block;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.top_main a:hover {
  opacity: 0.8;
}
.top_main .top_main_img {
  width: 100%;
  height: 400px;
}
.top_main .top_main_img img {
  width: 100%;
  height: 400px;
}
.top_main .top_main_txt {
  width: 100%;
  height: 110px;
  padding: 15px 15px 0;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
}
.top_main h2 {
  font-size: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.top_main p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.8;
}

.menu_list {
  width: 100%;
  margin-top: 30px;
  border-bottom: 2px solid #d6d6d6;
  padding: 0 30px;
}
.menu_list li {
  float: left;
  height: 42px;
}
.menu_list a {
  display: block;
  height: 40px;
  line-height: 43px;
  text-align: center;
  padding: 0 15px;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}
.menu_list a.active {
  background: #eeeeee;
  border-top: 2px solid #d6d6d6;
  border-right: 2px solid #d6d6d6;
  border-left: 2px solid #d6d6d6;
  border-bottom: 2px solid #eeeeee;
}
.menu_list a.menu_cat0 {
  color: #0066b3;
}
.menu_list a.menu_cat1 {
  color: #70acb4;
}
.menu_list a.menu_cat2 {
  color: #e5575a;
}
.menu_list a.menu_cat3 {
  color: #bdc359;
}
.menu_list a.menu_cat4 {
  color: #2bab8e;
}

.top_contents {
  width: 1100px;
  padding: 15px 15px 0;
  margin: 0 auto;
  background: #eeeeee;
}

.box {
  margin: 15px;
  float: left;
}

.box_long {
  width: 245px;
  height: 410px;
}
.box_long a {
  width: 243px;
  height: 408px;
}
.box_long .shadow, .box_long .hover {
  width: 243px;
  height: 408px;
}

.box_inner {
  display: block;
  border: 1px solid #cccccc;
  text-decoration: none;
  color: #5e5e5e;
  background: #FFF;
  overflow: hidden;
  position: relative;
}
.box_inner .new, .box_inner .like {
  display: block;
  width: 70px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
}
.box_inner .new {
  background: #e8b504;
}
.box_inner .like {
  background: #e3007f;
}

.box_eye {
  border-bottom: 1px solid #d6d6d6;
}

.box_body {
  width: 215px;
  padding: 14px 14px 12px;
  overflow: hidden;
  height: 48px;
  position: relative;
}

.box_head_txt {
  float: left;
  width: 215px;
  line-height: 1.6;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.box_foot {
  width: 243px;
  overflow: hidden;
  border-top: 1px solid #d6d6d6;
}
.box_foot li {
  float: left;
  height: 50px;
  line-height: 53px;
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  color: #FFF;
}
.box_foot li.cat {
  width: 111px;
  font-weight: bold;
}
.type1 .box_foot li.cat {
  background: #70acb4;
}
.type2 .box_foot li.cat {
  background: #e5575a;
}
.type3 .box_foot li.cat {
  background: #bdc359;
}
.type4 .box_foot li.cat {
  background: #2bab8e;
}
.box_foot li.mot {
  width: 75px;
  border-left: 1px solid #d6d6d6;
  background: #666;
}
.box_foot li.area {
  width: 55px;
  border-left: 1px solid #d6d6d6;
  background: #666;
}
